.conteudo-principal .paineis{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    position: relative;
}
.conteudo-principal .paineis .imagem-painel{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(70%);
  
}
.conteudo-principal .paineis .projeto1{
    background-image: url(../imagens/painel1.jpg);
}
.conteudo-principal .paineis .projeto2{
    background-image: url(../imagens/painel2.jpg);
}
.conteudo-principal .paineis .projeto3{
    background-image: url(../imagens/painel3.jpg);
}
.conteudo-principal .paineis .titulo{
    color: #fff;
    text-transform: uppercase;
    font-size: calc(1em + 1vw);
}
.conteudo-principal .paineis .seta{
    background: url('../imagens/seta.png') no-repeat;
    background-size: contain;
    background-position: center;
    width: 50px;
    height: 50px;
    position: absolute;
    text-indent: 100%;
    overflow: hidden;
}
.conteudo-principal .paineis .seta.btn-voltar{
    left: 20px;
    transform: rotatey(180deg);

}
.conteudo-principal .paineis .seta.btn-avancar{
    right: 20px;
}
/* QUEM SOMOS */

.quem-somos {     
    background-color: #2941AB;    
}

.quem-somos .conteudo{
    display: flex;            
    align-items: center;
    padding: 0 10%;
}

.quem-somos .conteudo .informacoes{
    width: 40%;    
}

.quem-somos .imagem{    
    width: 60%;    
}

@media(max-width: 1024px){
    .quem-somos .conteudo{
        flex-direction: column;
        text-align: center;
        padding: 100px 30px;
    }

    .quem-somos .conteudo .informacoes{
        margin-bottom: 30px;
    }

    .quem-somos .conteudo .informacoes {
        width: 100%;
    }

    .quem-somos .imagem {
        display: none;
    }
}

.quem-somos .conteudo .informacoes .titulo{
    font-size: 50px;
    margin-bottom: 20px;
    color: #1ED760;
}

.quem-somos .conteudo .informacoes .texto{
    font-size: 20px;    
    line-height: 1.5;
    color: #ffffff;
    font-weight: 400;    
}